<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuenti.smsradar">

    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.tuenti.smsradar.MainActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Services -->
        <service
            android:name="com.tuenti.smsradar.SmsRadarService"
            android:exported="false"
            android:label="@string/app_name"/>

    </application>

</manifest>
